html {
    height: 100%;
}
nav {
    width: 100%;
    background-color: #0084ff;
    padding: 10px 0;
}
nav a:hover {
    text-decoration: underline!important;
}

nav a:active {
    background-color: maroon;
}
.clock {
    margin: 0 auto;
    background-color: black;
    color:white;
    width: 200px;
    border: 2px solid #0004ff;
    box-shadow: 2px 2px 3px  gray;
    border-radius: 10px;
}
#root, .App {
    height: 100%;
}
body {
    background-image: url(../images/hand-prints.jpg);
    background-attachment: fixed;
    margin: 0 auto;
    height: 100%;
}
 h1 {
     margin: 0 auto;
 }

main {
    margin: 0 auto;
    overflow: auto;
    width: 800px;
    min-height: 81.1%;
    /* height: 100%; */
    background-color: #f8f8f8;
    min-width: 400px;
    padding: 0 10px;
}
/* .profile {
    position: absolute;
    left: 0;
    color: white;
    width: 400px;
    height: 100%;
    background-color: #00307cc2;
} */
table td {
    outline: 1px solid #000000;
}
table thead td {
    background-color: #a7a7a7;
    font-weight: 600;
}

td {
    background-color: white;
}
button {
    padding: 5px 200px;
    border: 1px solid white;
    background-color: #17A2B8;
    color: white;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: black;
}

button:active {
    background-color: rgba(255, 166, 0, 0);
}

#account {
    position:absolute;
    left: 75%;
}
.updated, .error{
    position: relative;
    margin:0 auto;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e2ff9e;
    color: #008000;
    animation: flash 2s linear;
    opacity: 0;
}
@keyframes flash {
    0%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}

.loading:after {
    font-size: larger;
    font-weight: 600;
    animation: load 1s infinite;
    content: "Loading.";
}


@keyframes load {
    0%{content: "Loading.";}
    50%{content: "Loading..";}
    100%{content: "Loading...";}
}
.error {
    background-color: #ff9e9e;
    color:#ca0000;
}
.errorField {
    border: 2px solid red
}
table {
    width: 400px;
    margin: 0 auto;
}



input {
    width: 60%;
    border: 2px solid grey;
    outline: none;
    border-radius: 5px;
    margin: 5px 0;
    padding: 2px;
}

select {
    background: #004680;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    width: 40%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding:30px 0;
    background-color:#303030;
    color: white;
}